@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
.modal {
  position: fixed;
  display: none;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
} */

#recipe-content {
  animation-name: modalOpen;
  animation-duration: 0.8s;
}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
